@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Courgette&family=Libre+Baskerville&display=swap");

body,
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.upper-container {
  display: flex;
  justify-content: space-between;
}
.left-block-upper {
  background-color: #6DAD76;
  flex-basis: 75%;
}
.right-block-upper {
  flex-basis: 20%;
}
.left-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  flex-basis: 15%;
  padding: 30px;
  min-height: 110px;
}
.header-left-text {
  margin-left: 30px;
  font-size: 7vh;
}
.header-right-text {
  margin-right: 30px;
}
.special-text {
  background-color: white;
  padding: 15px;
}
.left-block-body {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 130px;
  border: 2px solid blue;
  min-height: calc(100vh - 252px);
}
.right-block-upper {
  background-color: #94D09D;
  display: flex;
  align-items: center;
  text-align: center;
}
.lower-container {
  min-height: 140px;
  display: flex;
  justify-content: space-between;
}
.left-block-lower {
  flex-basis: 75%;
}
.right-block-lower {
  flex-basis: 20%;
}
.left-block-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid yellow;
  background-color: #A6D094;
  height: 100%;
  padding: 30px 70px;
}
.right-block-footer {
  background-color: #A6D085;
  border: 2px solid paleturquoise;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 5px;
}
.menu {
  align-items: center;
  justify-content: center;
}
.menu a{
font-size: 100px
}